header {
    background-color: #ebc83c;
    text-align: center;
}

body {
    background-image: linear-gradient(135deg, #4f0200, #860000);
}

h1 {
    background-color: #ebc83c;
    text-align: center;
}

div.flex-container {
    flex-direction: column;
}

img {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.fact {
    background-color: #ce3d01;
    color: black;
}

ul {
    background-color:#face91;
}

.dress {
    background-color: #ce3d01;
    color: black;
}

ul {
    background-color:#face91;
}