header {
    background-color: #ebc83c;
    text-align: center;
}

div.flex-container {
    flex-direction: column;
}

img {
    align-items: center;
    width: 500px;
    height: auto;
    align-self: center;
}

.fact {
    background-color: #FFCC00;
    color: black;
}